@using ShmotoActvSync.ViewModels

@{
    ViewData["Title"] = "Home Page";
}

@model UserViewModel

<div>
    <h1>Welcome, @Model.UserName </h1>

    @if (Model.AssociatedToMoto)
    {


    } else
    {
        <h3>You have not associated your MotoActv account yet</h3>
        <div class="panel panel-default">
            <div class="panel-heading">MotoActv login</div>
            <div class="panel-body">
                <form action="link" method="post">
                    <div class="form-group">
                        <label>Login</label>
                        <input type="email" class="form-control" name="name" placeholder="Enter email here" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter password here" />
                    </div>
                    <input type="submit" class="btn btn-primary" value="Link" />
                </form>
            </div>
        </div>

    }
</div>

