
@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center">ShmotoActv</h2>
<div class="text-center">
    <form action="@Url.Action("LoginPostStrava", "Account")" method="post">
        <button type="submit" class="btn btn-lg">Sign in with Strava</button>
    </form>
</div>

